# Data Engineering course

### Assignment 4

Student: D'Ambrosi Denis

19th November 2023

---

### Exercise 1: creating the DWH

##### Connecting to the backend

To actually run the code, the following requirements are needed:

1. An active PostgreSQL database and relative credentials
2. ```psycopg2-binary``` for connetting to the database from the Python environment
3. ```pandas``` for handling SQL query responses and computing the pivot table

> This notebook was run on Python 3.11.6 with psycopg2-binary 2.9.9 and Pandas 2.0.1

In [1]:
from psycopg2 import connect

# Please substitute the placeholders with your own credentials before running
db_credentials = {
    'host': '#####',
    'database': '#####',
    'user': '#####',
    'password': '#####',
}

conn = connect(**db_credentials)
cursor = conn.cursor()

conn.commit()

##### Creating the time table

> Note: in this section, we will substitute missing temporal informations (semester/month/day) with null values

In [2]:
import os

RESULTS_PATH = './results/'
result_files = [ os.path.join(RESULTS_PATH, path)
                for path in os.listdir(RESULTS_PATH)
                if os.path.isfile(os.path.join(RESULTS_PATH, path))]
result_files

['./results/resultlist_parallel.json',
 './results/resultlist_datenbaken.json',
 './results/resultlist_process_engineering.json',
 './results/resultlist_data_engineering.json',
 './results/resultlist_interop.json',
 './results/resultlist_webtech.json',
 './results/resultlist_blockchains_bpm.json',
 './results/resultlist_esop.json']

In [3]:
import json

raw_grades = []
for file in result_files :
    with open(file, 'r') as fp :
        content = json.load(fp)
    raw_grades += [ (
        content['course'],
        content['examinator'],
        content['date'],
        *tuple(content['results'][i].values())
        ) for i in range(len(content['results'])) ]
raw_grades

[('623.502',
  '2077308266',
  '2022-02-02',
  '9000023',
  'Sofia Hofmann',
  '5',
  '922'),
 ('623.502',
  '2077308266',
  '2022-02-02',
  '9000026',
  'Neele Schmitt',
  '2',
  '911'),
 ('623.502',
  '2077308266',
  '2022-02-02',
  '9000027',
  'Johanna Werner',
  '3',
  '922'),
 ('623.502',
  '2077308266',
  '2022-02-02',
  '9000030',
  'Amelie Meier',
  '2',
  '911'),
 ('623.502',
  '2077308266',
  '2022-02-02',
  '9000031',
  'Amely Lehmann',
  '3',
  '922'),
 ('623.502', '2077308266', '2022-02-02', '9000034', 'Lukas Maier', '3', '911'),
 ('623.502',
  '2077308266',
  '2022-02-02',
  '9000035',
  'Jonas Köhler',
  '5',
  '922'),
 ('623.502', '2077308266', '2022-02-02', '9000038', 'Paul Walter', '5', '911'),
 ('623.502', '2077308266', '2022-02-02', '9000039', 'Felix Mayer', '1', '922'),
 ('623.502', '2077308266', '2022-02-02', '9000042', 'Fynn Fuchs', '3', '911'),
 ('623.502', '2077308266', '2022-02-02', '9000043', 'Tim Peters', '1', '922'),
 ('623.502', '2077308266', '2022-02-02', '9000046', 'Luis Möller', '2', '911'),
 ('623.502', '2077308266', '2022-02-02', '9000047', 'Louis Weiß', '4', '922'),
 ('623.502',
  '2077308266',
  '2022-02-02',
  '9000050',
  'Elias Schubert',
  '3',
  '911'),
 ('623.502',
  '2077308266',
  '2022-02-02',
  '9000051',
  'Niclas Vogel',
  '5',
  '922'),
 ('623.502', '2077308266', '2022-02-02', '9000054', 'Jan Günther', '1', '911'),
 ('623.502',
  '2077308266',
  '2022-02-02',
  '9000055',
  'Philip Frank',
  '1',
  '922'),
 ('623.502', '2077308266', '2022-02-02', '9000058', 'Moritz Roth', '2', '911'),
 ('623.502', '2077308266', '2022-02-02', '9000059', 'Jannik Beck', '4', '922'),
 ('623.502',
  '2077308266',
  '2022-02-02',
  '9000062',
  'Hannah Franke',
  '1',
  '911'),
 ('623.502',
  '2077308266',
  '2022-02-02',
  '9000063',
  'Hanna Albrecht',
  '5',
  '922'),
 ('623.502', '2077308266', '2022-02-02', '9000066', 'Lena Ludwig', '3', '911'),
 ('623.502', '2077308266', '2022-02-02', '9000067', 'Lea Böhm', '3', '922'),
 ('623.502', '2077308266', '2022-02-02', '9000070', 'Emma Martin', '3', '911'),
 ('623.502',
  '2077308266',
  '2022-02-02',
  '9000071',
  'Emily Schumacher',
  '5',
  '922'),
 ('623.502', '2077308266', '2022-02-02', '9000074', 'Lilli Stein', '1', '911'),
 ('623.502', '2077308266', '2022-02-02', '9000075', 'Lilly Jäger', '2', '922'),
 ('623.502', '2077308266', '2022-02-02', '9000078', 'Sara Groß', '4', '911'),
 ('623.502', '2077308266', '2022-02-02', '9000079', 'Lara Seidel', '2', '922'),
 ('623.502', '2077308266', '2022-02-02', '9000082', 'Sofie Haas', '4', '911'),
 ('623.502',
  '2077308266',
  '2022-02-02',
  '9000083',
  'Sophia Schreiber',
  '4',
  '922'),
 ('620.050', '772243224', '2022', '9000001', 'Hannah Müller', '4', '522'),
 ('620.050', '772243224', '2022', '9000004', 'Leonie Fischer', '2', '511'),
 ('620.050', '772243224', '2022', '9000005', 'Lena Weber', '3', '522'),
 ('620.050', '772243224', '2022', '9000008', 'Anna Becker', '1', '511'),
 ('620.050', '772243224', '2022', '9000009', 'Emma Schulz', '2', '522'),
 ('620.050', '772243224', '2022', '9000012', 'Marie Koch', '1', '511'),
 ('620.050', '772243224', '2022', '9000013', 'Lilli Bauer', '3', '522'),
 ('620.050', '772243224', '2022', '9000016', 'Sarah Wolf', '3', '511'),
 ('620.050', '772243224', '2022', '9000017', 'Sara Schröder', '2', '522'),
 ('620.050', '772243224', '2022', '9000020', 'Sophie Zimmermann', '3', '511'),
 ('620.050', '772243224', '2022', '9000021', 'Sofie Braun', '1', '522'),
 ('620.050', '772243224', '2022', '9000024', 'Lina Hartmann', '4', '511'),
 ('620.050', '772243224', '2022', '9000025', 'Nele Lange', '2', '522'),
 ('620.050', '772243224', '2022', '9000028', 'Maja Schmitz', '1', '511'),
 ('620.050', '772243224', '2022', '9000029', 'Maya Krause', '2', '522'),
 ('620.050', '772243224', '2022', '9000032', 'Leon Schmid', '5', '511'),
 ('620.050', '772243224', '2022', '9000033', 'Lucas Schulze', '4', '522'),
 ('620.050', '772243224', '2022', '9000036', 'Luca Herrmann', '3', '511'),
 ('620.050', '772243224', '2022', '9000037', 'Luka König', '1', '522'),
 ('620.050', '772243224', '2022', '9000040', 'Maximilian Huber', '2', '511'),
 ('620.050', '772243224', '2022', '9000041', 'Finn Kaiser', '3', '522'),
 ('620.050', '772243224', '2022', '9000044', 'Timm Lang', '4', '511'),
 ('620.050', '772243224', '2022', '9000045', 'Ben Scholz', '2', '522'),
 ('620.050', '772243224', '2022', '9000048', 'Max Jung', '5', '511'),
 ('620.050', '772243224', '2022', '9000049', 'Julian Hahn', '1', '522'),
 ('620.050', '772243224', '2022', '9000052', 'Niklas Friedrich', '1', '511'),
 ('620.050', '772243224', '2022', '9000053', 'Noah Keller', '4', '522'),
 ('620.050', '772243224', '2022', '9000056', 'Philipp Berger', '1', '511'),
 ('620.050', '772243224', '2022', '9000057', 'Phillip Winkler', '2', '522'),
 ('620.050', '772243224', '2022', '9000060', 'Yannick Lorenz', '2', '511'),
 ('620.050', '772243224', '2022', '9000061', 'Mia Baumann', '3', '522'),
 ('620.050', '772243224', '2022', '9000064', 'Leoni Schuster', '2', '511'),
 ('620.050', '772243224', '2022', '9000065', 'Leonie Simon', '2', '522'),
 ('620.050', '772243224', '2022', '9000068', 'Leah Winter', '3', '511'),
 ('620.050', '772243224', '2022', '9000069', 'Anna Kraus', '1', '522'),
 ('620.050', '772243224', '2022', '9000072', 'Emilie Krämer', '1', '511'),
 ('620.050', '772243224', '2022', '9000073', 'Marie Vogt', '3', '522'),
 ('620.050', '772243224', '2022', '9000076', 'Lili Otto', '3', '511'),
 ('620.050', '772243224', '2022', '9000077', 'Sarah Sommer', '1', '522'),
 ('620.050', '772243224', '2022', '9000080', 'Laura Heinrich', '2', '511'),
 ('620.050', '772243224', '2022', '9000081', 'Sophie Brandt', '1', '522'),
 ('620.050', '772243224', '2022', '9000084', 'Sofia Graf', '4', '511'),
 ('620.050', '772243224', '2022', '9000085', 'Lina Schulte', '1', '522'),
 ('620.050', '772243224', '2022', '9000088', 'Johanna Kuhn', '3', '511'),
 ('620.050', '772243224', '2022', '9000089', 'Maja Kühn', '2', '522'),
 ('620.050', '772243224', '2022', '9000092', 'Amely Horn', '4', '511'),
 ('620.050', '772243224', '2022', '9000093', 'Leon Busch', '2', '522'),
 ('620.050', '772243224', '2022', '9000096', 'Jonas Voigt', '1', '511'),
 ('620.050', '772243224', '2022', '9000097', 'Luca Sauer', '3', '522'),
 ('620.050', '772243224', '2022', '9000100', 'Felix Pfeiffer', '1', '511'),
 ('623.252', '834107405', '2022-02-01', '9000046', 'Luis Möller', '2', '911'),
 ('623.252', '834107405', '2022-02-01', '9000047', 'Louis Weiß', '2', '922'),
 ('623.252',
  '834107405',
  '2022-02-01',
  '9000050',
  'Elias Schubert',
  '3',
  '911'),
 ('623.252', '834107405', '2022-02-01', '9000051', 'Niclas Vogel', '1', '922'),
 ('623.252', '834107405', '2022-02-01', '9000054', 'Jan Günther', '2', '911'),
 ('623.252', '834107405', '2022-02-01', '9000055', 'Philip Frank', '4', '922'),
 ('623.252', '834107405', '2022-02-01', '9000058', 'Moritz Roth', '1', '911'),
 ('623.252', '834107405', '2022-02-01', '9000059', 'Jannik Beck', '2', '922'),
 ('623.252',
  '834107405',
  '2022-02-01',
  '9000062',
  'Hannah Franke',
  '5',
  '911'),
 ('623.252',
  '834107405',
  '2022-02-01',
  '9000063',
  'Hanna Albrecht',
  '2',
  '922'),
 ('623.252', '834107405', '2022-02-01', '9000066', 'Lena Ludwig', '3', '911'),
 ('623.252', '834107405', '2022-02-01', '9000067', 'Lea Böhm', '1', '922'),
 ('623.252', '834107405', '2022-02-01', '9000070', 'Emma Martin', '3', '911'),
 ('623.252',
  '834107405',
  '2022-02-01',
  '9000071',
  'Emily Schumacher',
  '1',
  '922'),
 ('623.252', '834107405', '2022-02-01', '9000074', 'Lilli Stein', '2', '911'),
 ('623.252', '834107405', '2022-02-01', '9000075', 'Lilly Jäger', '1', '922'),
 ('623.252', '834107405', '2022-02-01', '9000078', 'Sara Groß', '2', '911'),
 ('623.252', '834107405', '2022-02-01', '9000079', 'Lara Seidel', '3', '922'),
 ('623.252', '834107405', '2022-02-01', '9000082', 'Sofie Haas', '2', '911'),
 ('623.252',
  '834107405',
  '2022-02-01',
  '9000083',
  'Sophia Schreiber',
  '3',
  '922'),
 ('623.252',
  '834107405',
  '2022-02-01',
  '9000086',
  'Nele Dietrich',
  '4',
  '911'),
 ('623.252',
  '834107405',
  '2022-02-01',
  '9000087',
  'Neele Ziegler',
  '1',
  '922'),
 ('623.252', '834107405', '2022-02-01', '9000090', 'Maya Pohl', '4', '911'),
 ('623.252', '834107405', '2022-02-01', '9000091', 'Amelie Engel', '5', '922'),
 ('623.252',
  '834107405',
  '2022-02-01',
  '9000094',
  'Lucas Bergmann',
  '2',
  '911'),
 ('623.252', '834107405', '2022-02-01', '9000095', 'Lukas Thomas', '3', '922'),
 ('623.252', '834107405', '2022-02-01', '9000098', 'Luka Arnold', '3', '911'),
 ('623.252', '834107405', '2022-02-01', '9000099', 'Paul Wolff', '2', '922'),
 ('623.500',
  '772243224',
  '2022-02-01',
  '9000019',
  'Laura Schwarz',
  '2',
  '922'),
 ('623.500',
  '772243224',
  '2022-02-01',
  '9000022',
  'Sophia Krüger',
  '3',
  '911'),
 ('623.500',
  '772243224',
  '2022-02-01',
  '9000023',
  'Sofia Hofmann',
  '2',
  '922'),
 ('623.500',
  '772243224',
  '2022-02-01',
  '9000026',
  'Neele Schmitt',
  '1',
  '911'),
 ('623.500',
  '772243224',
  '2022-02-01',
  '9000027',
  'Johanna Werner',
  '2',
  '922'),
 ('623.500', '772243224', '2022-02-01', '9000030', 'Amelie Meier', '2', '911'),
 ('623.500',
  '772243224',
  '2022-02-01',
  '9000031',
  'Amely Lehmann',
  '3',
  '922'),
 ('623.500', '772243224', '2022-02-01', '9000034', 'Lukas Maier', '1', '911'),
 ('623.500', '772243224', '2022-02-01', '9000035', 'Jonas Köhler', '2', '922'),
 ('623.500', '772243224', '2022-02-01', '9000038', 'Paul Walter', '3', '911'),
 ('623.500', '772243224', '2022-02-01', '9000039', 'Felix Mayer', '3', '922'),
 ('623.500', '772243224', '2022-02-01', '9000042', 'Fynn Fuchs', '2', '911'),
 ('623.500', '772243224', '2022-02-01', '9000043', 'Tim Peters', '2', '922'),
 ('623.500', '772243224', '2022-02-01', '9000046', 'Luis Möller', '2', '911'),
 ('623.500', '772243224', '2022-02-01', '9000047', 'Louis Weiß', '5', '922'),
 ('623.500',
  '772243224',
  '2022-02-01',
  '9000050',
  'Elias Schubert',
  '3',
  '911'),
 ('623.500', '772243224', '2022-02-01', '9000051', 'Niclas Vogel', '3', '922'),
 ('623.500', '772243224', '2022-02-01', '9000054', 'Jan Günther', '1', '911'),
 ('623.500', '772243224', '2022-02-01', '9000055', 'Philip Frank', '2', '922'),
 ('623.500', '772243224', '2022-02-01', '9000058', 'Moritz Roth', '1', '911'),
 ('623.500', '772243224', '2022-02-01', '9000059', 'Jannik Beck', '3', '922'),
 ('623.500',
  '772243224',
  '2022-02-01',
  '9000062',
  'Hannah Franke',
  '2',
  '911'),
 ('623.500',
  '772243224',
  '2022-02-01',
  '9000063',
  'Hanna Albrecht',
  '2',
  '922'),
 ('623.500', '772243224', '2022-02-01', '9000066', 'Lena Ludwig', '2', '911'),
 ('623.500', '772243224', '2022-02-01', '9000067', 'Lea Böhm', '4', '922'),
 ('623.500', '772243224', '2022-02-01', '9000070', 'Emma Martin', '2', '911'),
 ('623.500',
  '772243224',
  '2022-02-01',
  '9000071',
  'Emily Schumacher',
  '2',
  '922'),
 ('623.500', '772243224', '2022-02-01', '9000074', 'Lilli Stein', '1', '911'),
 ('623.500', '772243224', '2022-02-01', '9000075', 'Lilly Jäger', '2', '922'),
 ('623.500', '772243224', '2022-02-01', '9000078', 'Sara Groß', '1', '911'),
 ('623.250',
  '772243224',
  '2022-01-25',
  '9000002',
  'Hanna Schmidt',
  '3',
  '911'),
 ('623.250',
  '772243224',
  '2022-01-25',
  '9000003',
  'Leoni Schneider',
  '3',
  '922'),
 ('623.250', '772243224', '2022-01-25', '9000006', 'Lea Meyer', '2', '911'),
 ('623.250', '772243224', '2022-01-25', '9000007', 'Leah Wagner', '2', '922'),
 ('623.250',
  '772243224',
  '2022-01-25',
  '9000010',
  'Emily Hoffmann',
  '3',
  '911'),
 ('623.250',
  '772243224',
  '2022-01-25',
  '9000011',
  'Emilie Schäfer',
  '3',
  '922'),
 ('623.250',
  '772243224',
  '2022-01-25',
  '9000014',
  'Lilly Richter',
  '1',
  '911'),
 ('623.250', '772243224', '2022-01-25', '9000015', 'Lili Klein', '2', '922'),
 ('623.250', '772243224', '2022-01-25', '9000018', 'Lara Neumann', '2', '911'),
 ('623.250',
  '772243224',
  '2022-01-25',
  '9000019',
  'Laura Schwarz',
  '1',
  '922'),
 ('623.250',
  '772243224',
  '2022-01-25',
  '9000022',
  'Sophia Krüger',
  '1',
  '911'),
 ('623.250',
  '772243224',
  '2022-01-25',
  '9000023',
  'Sofia Hofmann',
  '2',
  '922'),
 ('623.250',
  '772243224',
  '2022-01-25',
  '9000026',
  'Neele Schmitt',
  '4',
  '911'),
 ('623.250',
  '772243224',
  '2022-01-25',
  '9000027',
  'Johanna Werner',
  '1',
  '922'),
 ('623.250', '772243224', '2022-01-25', '9000030', 'Amelie Meier', '3', '911'),
 ('623.250',
  '772243224',
  '2022-01-25',
  '9000031',
  'Amely Lehmann',
  '1',
  '922'),
 ('623.250', '772243224', '2022-01-25', '9000034', 'Lukas Maier', '2', '911'),
 ('623.250', '772243224', '2022-01-25', '9000035', 'Jonas Köhler', '2', '922'),
 ('623.250', '772243224', '2022-01-25', '9000038', 'Paul Walter', '2', '911'),
 ('623.250', '772243224', '2022-01-25', '9000039', 'Felix Mayer', '2', '922'),
 ('623.250', '772243224', '2022-01-25', '9000042', 'Fynn Fuchs', '1', '911'),
 ('623.250', '772243224', '2022-01-25', '9000043', 'Tim Peters', '3', '922'),
 ('623.250', '772243224', '2022-01-25', '9000046', 'Luis Möller', '3', '911'),
 ('623.250', '772243224', '2022-01-25', '9000047', 'Louis Weiß', '3', '922'),
 ('623.250',
  '772243224',
  '2022-01-25',
  '9000050',
  'Elias Schubert',
  '3',
  '911'),
 ('623.250', '772243224', '2022-01-25', '9000051', 'Niclas Vogel', '2', '922'),
 ('623.250', '772243224', '2022-01-25', '9000054', 'Jan Günther', '4', '911'),
 ('623.250', '772243224', '2022-01-25', '9000055', 'Philip Frank', '2', '922'),
 ('623.250', '772243224', '2022-01-25', '9000058', 'Moritz Roth', '2', '911'),
 ('623.250', '772243224', '2022-01-25', '9000059', 'Jannik Beck', '2', '922'),
 ('621.900',
  '772243224',
  '2022-01-25',
  '9000001',
  'Hannah Müller',
  '2',
  '522'),
 ('621.900',
  '772243224',
  '2022-01-25',
  '9000004',
  'Leonie Fischer',
  '4',
  '511'),
 ('621.900', '772243224', '2022-01-25', '9000005', 'Lena Weber', '2', '522'),
 ('621.900', '772243224', '2022-01-25', '9000008', 'Anna Becker', '1', '511'),
 ('621.900', '772243224', '2022-01-25', '9000009', 'Emma Schulz', '1', '522'),
 ('621.900', '772243224', '2022-01-25', '9000012', 'Marie Koch', '2', '511'),
 ('621.900', '772243224', '2022-01-25', '9000013', 'Lilli Bauer', '2', '522'),
 ('621.900', '772243224', '2022-01-25', '9000016', 'Sarah Wolf', '5', '511'),
 ('621.900',
  '772243224',
  '2022-01-25',
  '9000017',
  'Sara Schröder',
  '5',
  '522'),
 ('621.900',
  '772243224',
  '2022-01-25',
  '9000020',
  'Sophie Zimmermann',
  '3',
  '511'),
 ('621.900', '772243224', '2022-01-25', '9000021', 'Sofie Braun', '5', '522'),
 ('621.900',
  '772243224',
  '2022-01-25',
  '9000024',
  'Lina Hartmann',
  '2',
  '511'),
 ('621.900', '772243224', '2022-01-25', '9000025', 'Nele Lange', '1', '522'),
 ('621.900', '772243224', '2022-01-25', '9000028', 'Maja Schmitz', '5', '511'),
 ('621.900', '772243224', '2022-01-25', '9000029', 'Maya Krause', '1', '522'),
 ('621.900', '772243224', '2022-01-25', '9000032', 'Leon Schmid', '1', '511'),
 ('621.900',
  '772243224',
  '2022-01-25',
  '9000033',
  'Lucas Schulze',
  '1',
  '522'),
 ('621.900',
  '772243224',
  '2022-01-25',
  '9000036',
  'Luca Herrmann',
  '2',
  '511'),
 ('621.900', '772243224', '2022-01-25', '9000037', 'Luka König', '4', '522'),
 ('621.900',
  '772243224',
  '2022-01-25',
  '9000040',
  'Maximilian Huber',
  '3',
  '511'),
 ('621.900', '772243224', '2022-01-25', '9000041', 'Finn Kaiser', '3', '522'),
 ('621.900', '772243224', '2022-01-25', '9000044', 'Timm Lang', '3', '511'),
 ('621.900', '772243224', '2022-01-25', '9000045', 'Ben Scholz', '2', '522'),
 ('621.900', '772243224', '2022-01-25', '9000048', 'Max Jung', '2', '511'),
 ('621.900', '772243224', '2022-01-25', '9000049', 'Julian Hahn', '1', '522'),
 ('621.900',
  '772243224',
  '2022-01-25',
  '9000052',
  'Niklas Friedrich',
  '2',
  '511'),
 ('621.900', '772243224', '2022-01-25', '9000053', 'Noah Keller', '5', '522'),
 ('621.900',
  '772243224',
  '2022-01-25',
  '9000056',
  'Philipp Berger',
  '5',
  '511'),
 ('621.900',
  '772243224',
  '2022-01-25',
  '9000057',
  'Phillip Winkler',
  '1',
  '522'),
 ('621.900',
  '772243224',
  '2022-01-25',
  '9000060',
  'Yannick Lorenz',
  '3',
  '511'),
 ('621.900', '772243224', '2022-01-25', '9000061', 'Mia Baumann', '2', '522'),
 ('621.900',
  '772243224',
  '2022-01-25',
  '9000064',
  'Leoni Schuster',
  '4',
  '511'),
 ('621.900', '772243224', '2022-01-25', '9000065', 'Leonie Simon', '4', '522'),
 ('621.900', '772243224', '2022-01-25', '9000068', 'Leah Winter', '1', '511'),
 ('621.900', '772243224', '2022-01-25', '9000069', 'Anna Kraus', '4', '522'),
 ('621.900',
  '772243224',
  '2022-01-25',
  '9000072',
  'Emilie Krämer',
  '1',
  '511'),
 ('621.900', '772243224', '2022-01-25', '9000073', 'Marie Vogt', '5', '522'),
 ('621.900', '772243224', '2022-01-25', '9000076', 'Lili Otto', '5', '511'),
 ('621.900', '772243224', '2022-01-25', '9000077', 'Sarah Sommer', '2', '522'),
 ('621.900',
  '772243224',
  '2022-01-25',
  '9000080',
  'Laura Heinrich',
  '4',
  '511'),
 ('621.900',
  '772243224',
  '2022-01-25',
  '9000081',
  'Sophie Brandt',
  '3',
  '522'),
 ('621.900', '772243224', '2022-01-25', '9000084', 'Sofia Graf', '5', '511'),
 ('621.900', '772243224', '2022-01-25', '9000085', 'Lina Schulte', '1', '522'),
 ('621.900', '772243224', '2022-01-25', '9000088', 'Johanna Kuhn', '5', '511'),
 ('621.900', '772243224', '2022-01-25', '9000089', 'Maja Kühn', '2', '522'),
 ('621.900', '772243224', '2022-01-25', '9000092', 'Amely Horn', '5', '511'),
 ('621.900', '772243224', '2022-01-25', '9000093', 'Leon Busch', '2', '522'),
 ('621.900', '772243224', '2022-01-25', '9000096', 'Jonas Voigt', '3', '511'),
 ('621.900', '772243224', '2022-01-25', '9000097', 'Luca Sauer', '4', '522'),
 ('621.900',
  '772243224',
  '2022-01-25',
  '9000100',
  'Felix Pfeiffer',
  '5',
  '511'),
 ('623.254', '772243224', '2022-06-24', '9000078', 'Sara Groß', '2', '911'),
 ('623.254', '772243224', '2022-06-24', '9000079', 'Lara Seidel', '1', '922'),
 ('623.254', '772243224', '2022-06-24', '9000082', 'Sofie Haas', '3', '911'),
 ('623.254',
  '772243224',
  '2022-06-24',
  '9000083',
  'Sophia Schreiber',
  '2',
  '922'),
 ('623.254',
  '772243224',
  '2022-06-24',
  '9000086',
  'Nele Dietrich',
  '2',
  '911'),
 ('623.254',
  '772243224',
  '2022-06-24',
  '9000087',
  'Neele Ziegler',
  '3',
  '922'),
 ('623.254', '772243224', '2022-06-24', '9000090', 'Maya Pohl', '1', '911'),
 ('623.254', '772243224', '2022-06-24', '9000091', 'Amelie Engel', '2', '922'),
 ('623.254',
  '772243224',
  '2022-06-24',
  '9000094',
  'Lucas Bergmann',
  '5',
  '911'),
 ('623.254', '772243224', '2022-06-24', '9000095', 'Lukas Thomas', '3', '922'),
 ('623.254', '772243224', '2022-06-24', '9000098', 'Luka Arnold', '2', '911'),
 ('623.254', '772243224', '2022-06-24', '9000099', 'Paul Wolff', '1', '922'),
 ('623.254',
  '772243224',
  '2022-06-24',
  '9000080',
  'Laura Heinrich',
  '4',
  '511'),
 ('623.254',
  '772243224',
  '2022-06-24',
  '9000081',
  'Sophie Brandt',
  '3',
  '522'),
 ('623.254', '772243224', '2022-06-24', '9000084', 'Sofia Graf', '5', '511'),
 ('623.254', '772243224', '2022-06-24', '9000085', 'Lina Schulte', '1', '522'),
 ('623.254', '772243224', '2022-06-24', '9000088', 'Johanna Kuhn', '5', '511'),
 ('623.254', '772243224', '2022-06-24', '9000089', 'Maja Kühn', '2', '522'),
 ('620.220', '36866626', '2022-02-03', '9000001', 'Hannah Müller', '2', '522'),
 ('620.220',
  '36866626',
  '2022-02-03',
  '9000004',
  'Leonie Fischer',
  '4',
  '511'),
 ('620.220', '36866626', '2022-02-03', '9000005', 'Lena Weber', '3', '522'),
 ('620.220', '36866626', '2022-02-03', '9000008', 'Anna Becker', '3', '511'),
 ('620.220', '36866626', '2022-02-03', '9000009', 'Emma Schulz', '3', '522'),
 ('620.220', '36866626', '2022-02-03', '9000012', 'Marie Koch', '1', '511'),
 ('620.220', '36866626', '2022-02-03', '9000013', 'Lilli Bauer', '1', '522'),

In [4]:
times_raw = list(set([ tuple(map(int, entry[2].split('-'))) for entry in raw_grades ]))
times_raw

[(2022, 2, 3),
 (2022, 1, 25),
 (2022, 2, 2),
 (2022, 6, 24),
 (2022,),
 (2022, 2, 1)]

In [5]:
times = []
timeId = 0
for time in times_raw :
    if len(time) == 1 :
        new_entry = (timeId, time[0], None, None, None)
    else :
        semester = 'summer' if time[1] >= 3 and time[1] <= 9 else 'winter'
        day = time[2] if len(time) > 2 else None
        new_entry = (timeId, time[0], semester, time[1], day)
    times.append(new_entry)
    timeId += 1
times

[(0, 2022, 'winter', 2, 3),
 (1, 2022, 'winter', 1, 25),
 (2, 2022, 'winter', 2, 2),
 (3, 2022, 'summer', 6, 24),
 (4, 2022, None, None, None),
 (5, 2022, 'winter', 2, 1)]

In [6]:
conn.rollback()

In [7]:
create_table_query = f"""
    CREATE TABLE TIME (
        Id INT PRIMARY KEY,
        Year INT NOT NULL,
        Semester VARCHAR(6),
        Month INT,
        Day INT
    );
"""

cursor.execute(create_table_query)
conn.commit()

In [8]:
insert_query = """
    INSERT INTO TIME (Id, Year, Semester, Month, Day)
    VALUES (%s, %s, %s, %s, %s);
"""

cursor.executemany(insert_query, times)
conn.commit()

##### Creating the student table

In [9]:
students = list(set([ entry[3:5] for entry in raw_grades ]))
students

[('9000059', 'Jannik Beck'),
 ('9000064', 'Leoni Schuster'),
 ('9000083', 'Sophia Schreiber'),
 ('9000063', 'Hanna Albrecht'),
 ('9000025', 'Nele Lange'),
 ('9000011', 'Emilie Schäfer'),
 ('9000082', 'Sofie Haas'),
 ('9000084', 'Sofia Graf'),
 ('9000098', 'Luka Arnold'),
 ('9000040', 'Maximilian Huber'),
 ('9000037', 'Luka König'),
 ('9000017', 'Sara Schröder'),
 ('9000014', 'Lilly Richter'),
 ('9000074', 'Lilli Stein'),
 ('9000045', 'Ben Scholz'),
 ('9000088', 'Johanna Kuhn'),
 ('9000044', 'Timm Lang'),
 ('9000052', 'Niklas Friedrich'),
 ('9000048', 'Max Jung'),
 ('9000049', 'Julian Hahn'),
 ('9000080', 'Laura Heinrich'),
 ('9000071', 'Emily Schumacher'),
 ('9000018', 'Lara Neumann'),
 ('9000027', 'Johanna Werner'),
 ('9000087', 'Neele Ziegler'),
 ('9000039', 'Felix Mayer'),
 ('9000003', 'Leoni Schneider'),
 ('9000028', 'Maja Schmitz'),
 ('9000046', 'Luis Möller'),
 ('9000036', 'Luca Herrmann'),
 ('9000053', 'Noah Keller'),
 ('9000020', 'Sophie Zimmermann'),
 ('9000022', 'Sophia Krüger'),
 ('9000086', 'Nele Dietrich'),
 ('9000001', 'Hannah Müller'),
 ('9000010', 'Emily Hoffmann'),
 ('9000067', 'Lea Böhm'),
 ('9000075', 'Lilly Jäger'),
 ('9000009', 'Emma Schulz'),
 ('9000076', 'Lili Otto'),
 ('9000019', 'Laura Schwarz'),
 ('9000090', 'Maya Pohl'),
 ('9000094', 'Lucas Bergmann'),
 ('9000085', 'Lina Schulte'),
 ('9000029', 'Maya Krause'),
 ('9000066', 'Lena Ludwig'),
 ('9000078', 'Sara Groß'),
 ('9000013', 'Lilli Bauer'),
 ('9000058', 'Moritz Roth'),
 ('9000073', 'Marie Vogt'),
 ('9000012', 'Marie Koch'),
 ('9000099', 'Paul Wolff'),
 ('9000056', 'Philipp Berger'),
 ('9000016', 'Sarah Wolf'),
 ('9000024', 'Lina Hartmann'),
 ('9000015', 'Lili Klein'),
 ('9000095', 'Lukas Thomas'),
 ('9000077', 'Sarah Sommer'),
 ('9000057', 'Phillip Winkler'),
 ('9000047', 'Louis Weiß'),
 ('9000023', 'Sofia Hofmann'),
 ('9000030', 'Amelie Meier'),
 ('9000072', 'Emilie Krämer'),
 ('9000026', 'Neele Schmitt'),
 ('9000035', 'Jonas Köhler'),
 ('9000038', 'Paul Walter'),
 ('9000062', 'Hannah Franke'),
 ('9000005', 'Lena Weber'),
 ('9000032', 'Leon Schmid'),
 ('9000008', 'Anna Becker'),
 ('9000043', 'Tim Peters'),
 ('9000070', 'Emma Martin'),
 ('9000041', 'Finn Kaiser'),
 ('9000051', 'Niclas Vogel'),
 ('9000096', 'Jonas Voigt'),
 ('9000079', 'Lara Seidel'),
 ('9000002', 'Hanna Schmidt'),
 ('9000021', 'Sofie Braun'),
 ('9000061', 'Mia Baumann'),
 ('9000054', 'Jan Günther'),
 ('9000007', 'Leah Wagner'),
 ('9000055', 'Philip Frank'),
 ('9000006', 'Lea Meyer'),
 ('9000065', 'Leonie Simon'),
 ('9000031', 'Amely Lehmann'),
 ('9000100', 'Felix Pfeiffer'),
 ('9000004', 'Leonie Fischer'),
 ('9000034', 'Lukas Maier'),
 ('9000081', 'Sophie Brandt'),
 ('9000068', 'Leah Winter'),
 ('9000042', 'Fynn Fuchs'),
 ('9000050', 'Elias Schubert'),
 ('9000033', 'Lucas Schulze'),
 ('9000069', 'Anna Kraus'),
 ('9000092', 'Amely Horn'),
 ('9000093', 'Leon Busch'),
 ('9000097', 'Luca Sauer'),
 ('9000089', 'Maja Kühn'),
 ('9000091', 'Amelie Engel'),
 ('9000060', 'Yannick Lorenz')]

In [10]:
create_table_query = """
    CREATE TABLE STUDENT (
        Id CHAR(7) PRIMARY KEY,
        Name VARCHAR(30)
    );
"""

cursor.execute(create_table_query)
conn.commit()

In [11]:
insert_query = """
    INSERT INTO STUDENT (Id, Name)
    VALUES (%s, %s);
"""

cursor.executemany(insert_query, students)
conn.commit()

##### Creating the fact table

In [12]:
def toTimeId (date : str) -> int :
    int_date = list(map(int, date.split('-')))
    int_date += [ None for _ in range(3-len(int_date)) ]
    id = list(filter(lambda entry : entry[1] == int_date[0],
                    filter(lambda entry : entry[3] == int_date[1],
                            filter(lambda entry : entry[4] == int_date[2], times))))
    assert not (len(id) < 1), f'Date ({date}) not found in the database'
    assert not (len(id) > 1), f'Ambiguous reference to the date ({date})'
    return id[0][0]

toTimeId( '2022-02-02' )

2

In [13]:
raw_grades[0]

('623.502', '2077308266', '2022-02-02', '9000023', 'Sofia Hofmann', '5', '922')

In [14]:
grades = [ (
    i,                      # Grade ID
    int(entry[5]),          # Grade
    entry[1],               # Lecturer ID
    entry[0],               # Course ID
    toTimeId(entry[2]),     # Time ID
    entry[3],               # Student ID
    int(entry[6]),           # StudyPlan ID
    ) for i, entry in enumerate(raw_grades) ]
grades

[(0, 5, '2077308266', '623.502', 2, '9000023', 922),
 (1, 2, '2077308266', '623.502', 2, '9000026', 911),
 (2, 3, '2077308266', '623.502', 2, '9000027', 922),
 (3, 2, '2077308266', '623.502', 2, '9000030', 911),
 (4, 3, '2077308266', '623.502', 2, '9000031', 922),
 (5, 3, '2077308266', '623.502', 2, '9000034', 911),
 (6, 5, '2077308266', '623.502', 2, '9000035', 922),
 (7, 5, '2077308266', '623.502', 2, '9000038', 911),
 (8, 1, '2077308266', '623.502', 2, '9000039', 922),
 (9, 3, '2077308266', '623.502', 2, '9000042', 911),
 (10, 1, '2077308266', '623.502', 2, '9000043', 922),
 (11, 2, '2077308266', '623.502', 2, '9000046', 911),
 (12, 4, '2077308266', '623.502', 2, '9000047', 922),
 (13, 3, '2077308266', '623.502', 2, '9000050', 911),
 (14, 5, '2077308266', '623.502', 2, '9000051', 922),
 (15, 1, '2077308266', '623.502', 2, '9000054', 911),
 (16, 1, '2077308266', '623.502', 2, '9000055', 922),
 (17, 2, '2077308266', '623.502', 2, '9000058', 911),
 (18, 4, '2077308266', '623.502', 2, '9000059', 922),
 (19, 1, '2077308266', '623.502', 2, '9000062', 911),
 (20, 5, '2077308266', '623.502', 2, '9000063', 922),
 (21, 3, '2077308266', '623.502', 2, '9000066', 911),
 (22, 3, '2077308266', '623.502', 2, '9000067', 922),
 (23, 3, '2077308266', '623.502', 2, '9000070', 911),
 (24, 5, '2077308266', '623.502', 2, '9000071', 922),
 (25, 1, '2077308266', '623.502', 2, '9000074', 911),
 (26, 2, '2077308266', '623.502', 2, '9000075', 922),
 (27, 4, '2077308266', '623.502', 2, '9000078', 911),
 (28, 2, '2077308266', '623.502', 2, '9000079', 922),
 (29, 4, '2077308266', '623.502', 2, '9000082', 911),
 (30, 4, '2077308266', '623.502', 2, '9000083', 922),
 (31, 4, '772243224', '620.050', 4, '9000001', 522),
 (32, 2, '772243224', '620.050', 4, '9000004', 511),
 (33, 3, '772243224', '620.050', 4, '9000005', 522),
 (34, 1, '772243224', '620.050', 4, '9000008', 511),
 (35, 2, '772243224', '620.050', 4, '9000009', 522),
 (36, 1, '772243224', '620.050', 4, '9000012', 511),
 (37, 3, '772243224', '620.050', 4, '9000013', 522),
 (38, 3, '772243224', '620.050', 4, '9000016', 511),
 (39, 2, '772243224', '620.050', 4, '9000017', 522),
 (40, 3, '772243224', '620.050', 4, '9000020', 511),
 (41, 1, '772243224', '620.050', 4, '9000021', 522),
 (42, 4, '772243224', '620.050', 4, '9000024', 511),
 (43, 2, '772243224', '620.050', 4, '9000025', 522),
 (44, 1, '772243224', '620.050', 4, '9000028', 511),
 (45, 2, '772243224', '620.050', 4, '9000029', 522),
 (46, 5, '772243224', '620.050', 4, '9000032', 511),
 (47, 4, '772243224', '620.050', 4, '9000033', 522),
 (48, 3, '772243224', '620.050', 4, '9000036', 511),
 (49, 1, '772243224', '620.050', 4, '9000037', 522),
 (50, 2, '772243224', '620.050', 4, '9000040', 511),
 (51, 3, '772243224', '620.050', 4, '9000041', 522),
 (52, 4, '772243224', '620.050', 4, '9000044', 511),
 (53, 2, '772243224', '620.050', 4, '9000045', 522),
 (54, 5, '772243224', '620.050', 4, '9000048', 511),
 (55, 1, '772243224', '620.050', 4, '9000049', 522),
 (56, 1, '772243224', '620.050', 4, '9000052', 511),
 (57, 4, '772243224', '620.050', 4, '9000053', 522),
 (58, 1, '772243224', '620.050', 4, '9000056', 511),
 (59, 2, '772243224', '620.050', 4, '9000057', 522),
 (60, 2, '772243224', '620.050', 4, '9000060', 511),
 (61, 3, '772243224', '620.050', 4, '9000061', 522),
 (62, 2, '772243224', '620.050', 4, '9000064', 511),
 (63, 2, '772243224', '620.050', 4, '9000065', 522),
 (64, 3, '772243224', '620.050', 4, '9000068', 511),
 (65, 1, '772243224', '620.050', 4, '9000069', 522),
 (66, 1, '772243224', '620.050', 4, '9000072', 511),
 (67, 3, '772243224', '620.050', 4, '9000073', 522),
 (68, 3, '772243224', '620.050', 4, '9000076', 511),
 (69, 1, '772243224', '620.050', 4, '9000077', 522),
 (70, 2, '772243224', '620.050', 4, '9000080', 511),
 (71, 1, '772243224', '620.050', 4, '9000081', 522),
 (72, 4, '772243224', '620.050', 4, '9000084', 511),
 (73, 1, '772243224', '620.050', 4, '9000085', 522),
 (74, 3, '772243224', '620.050', 4, '9000088', 511),
 (75, 2, '772243224', '620.050', 4, '9000089', 522),
 (76, 4, '772243224', '620.050', 4, '9000092', 511),
 (77, 2, '772243224', '620.050', 4, '9000093', 522),
 (78, 1, '772243224', '620.050', 4, '9000096', 511),
 (79, 3, '772243224', '620.050', 4, '9000097', 522),
 (80, 1, '772243224', '620.050', 4, '9000100', 511),
 (81, 2, '834107405', '623.252', 5, '9000046', 911),
 (82, 2, '834107405', '623.252', 5, '9000047', 922),
 (83, 3, '834107405', '623.252', 5, '9000050', 911),
 (84, 1, '834107405', '623.252', 5, '9000051', 922),
 (85, 2, '834107405', '623.252', 5, '9000054', 911),
 (86, 4, '834107405', '623.252', 5, '9000055', 922),
 (87, 1, '834107405', '623.252', 5, '9000058', 911),
 (88, 2, '834107405', '623.252', 5, '9000059', 922),
 (89, 5, '834107405', '623.252', 5, '9000062', 911),
 (90, 2, '834107405', '623.252', 5, '9000063', 922),
 (91, 3, '834107405', '623.252', 5, '9000066', 911),
 (92, 1, '834107405', '623.252', 5, '9000067', 922),
 (93, 3, '834107405', '623.252', 5, '9000070', 911),
 (94, 1, '834107405', '623.252', 5, '9000071', 922),
 (95, 2, '834107405', '623.252', 5, '9000074', 911),
 (96, 1, '834107405', '623.252', 5, '9000075', 922),
 (97, 2, '834107405', '623.252', 5, '9000078', 911),
 (98, 3, '834107405', '623.252', 5, '9000079', 922),
 (99, 2, '834107405', '623.252', 5, '9000082', 911),
 (100, 3, '834107405', '623.252', 5, '9000083', 922),
 (101, 4, '834107405', '623.252', 5, '9000086', 911),
 (102, 1, '834107405', '623.252', 5, '9000087', 922),
 (103, 4, '834107405', '623.252', 5, '9000090', 911),
 (104, 5, '834107405', '623.252', 5, '9000091', 922),
 (105, 2, '834107405', '623.252', 5, '9000094', 911),
 (106, 3, '834107405', '623.252', 5, '9000095', 922),
 (107, 3, '834107405', '623.252', 5, '9000098', 911),
 (108, 2, '834107405', '623.252', 5, '9000099', 922),
 (109, 2, '772243224', '623.500', 5, '9000019', 922),
 (110, 3, '772243224', '623.500', 5, '9000022', 911),
 (111, 2, '772243224', '623.500', 5, '9000023', 922),
 (112, 1, '772243224', '623.500', 5, '9000026', 911),
 (113, 2, '772243224', '623.500', 5, '9000027', 922),
 (114, 2, '772243224', '623.500', 5, '9000030', 911),
 (115, 3, '772243224', '623.500', 5, '9000031', 922),
 (116, 1, '772243224', '623.500', 5, '9000034', 911),
 (117, 2, '772243224', '623.500', 5, '9000035', 922),
 (118, 3, '772243224', '623.500', 5, '9000038', 911),
 (119, 3, '772243224', '623.500', 5, '9000039', 922),
 (120, 2, '772243224', '623.500', 5, '9000042', 911),
 (121, 2, '772243224', '623.500', 5, '9000043', 922),
 (122, 2, '772243224', '623.500', 5, '9000046', 911),
 (123, 5, '772243224', '623.500', 5, '9000047', 922),
 (124, 3, '772243224', '623.500', 5, '9000050', 911),
 (125, 3, '772243224', '623.500', 5, '9000051', 922),
 (126, 1, '772243224', '623.500', 5, '9000054', 911),
 (127, 2, '772243224', '623.500', 5, '9000055', 922),
 (128, 1, '772243224', '623.500', 5, '9000058', 911),
 (129, 3, '772243224', '623.500', 5, '9000059', 922),
 (130, 2, '772243224', '623.500', 5, '9000062', 911),
 (131, 2, '772243224', '623.500', 5, '9000063', 922),
 (132, 2, '772243224', '623.500', 5, '9000066', 911),
 (133, 4, '772243224', '623.500', 5, '9000067', 922),
 (134, 2, '772243224', '623.500', 5, '9000070', 911),
 (135, 2, '772243224', '623.500', 5, '9000071', 922),
 (136, 1, '772243224', '623.500', 5, '9000074', 911),
 (137, 2, '772243224', '623.500', 5, '9000075', 922),
 (138, 1, '772243224', '623.500', 5, '9000078', 911),
 (139, 3, '772243224', '623.250', 1, '9000002', 911),
 (140, 3, '772243224', '623.250', 1, '9000003', 922),
 (141, 2, '772243224', '623.250', 1, '9000006', 911),
 (142, 2, '772243224', '623.250', 1, '9000007', 922),
 (143, 3, '772243224', '623.250', 1, '9000010', 911),
 (144, 3, '772243224', '623.250', 1, '9000011', 922),
 (145, 1, '772243224', '623.250', 1, '9000014', 911),
 (146, 2, '772243224', '623.250', 1, '9000015', 922),
 (147, 2, '772243224', '623.250', 1, '9000018', 911),
 (148, 1, '772243224', '623.250', 1, '9000019', 922),
 (149, 1, '772243224', '623.250', 1, '9000022', 911),
 (150, 2, '772243224', '623.250', 1, '9000023', 922),
 (151, 4, '772243224', '623.250', 1, '9000026', 911),
 (152, 1, '772243224', '623.250', 1, '9000027', 922),
 (153, 3, '772243224', '623.250', 1, '9000030', 911),
 (154, 1, '772243224', '623.250', 1, '9000031', 922),
 (155, 2, '772243224', '623.250', 1, '9000034', 911),
 (156, 2, '772243224', '623.250', 1, '9000035', 922),
 (157, 2, '772243224', '623.250', 1, '9000038', 911),
 (158, 2, '772243224', '623.250', 1, '9000039', 922),
 (159, 1, '772243224', '623.250', 1, '9000042', 911),
 (160, 3, '772243224', '623.250', 1, '9000043', 922),
 (161, 3, '772243224', '623.250', 1, '9000046', 911),
 (162, 3, '772243224', '623.250', 1, '9000047', 922),
 (163, 3, '772243224', '623.250', 1, '9000050', 911),
 (164, 2, '772243224', '623.250', 1, '9000051', 922),
 (165, 4, '772243224', '623.250', 1, '9000054', 911),
 (166, 2, '772243224', '623.250', 1, '9000055', 922),
 (167, 2, '772243224', '623.250', 1, '9000058', 911),
 (168, 2, '772243224', '623.250', 1, '9000059', 922),
 (169, 2, '772243224', '621.900', 1, '9000001', 522),
 (170, 4, '772243224', '621.900', 1, '9000004', 511),
 (171, 2, '772243224', '621.900', 1, '9000005', 522),
 (172, 1, '772243224', '621.900', 1, '9000008', 511),
 (173, 1, '772243224', '621.900', 1, '9000009', 522),
 (174, 2, '772243224', '621.900', 1, '9000012', 511),
 (175, 2, '772243224', '621.900', 1, '9000013', 522),
 (176, 5, '772243224', '621.900', 1, '9000016', 511),
 (177, 5, '772243224', '621.900', 1, '9000017', 522),
 (178, 3, '772243224', '621.900', 1, '9000020', 511),
 (179, 5, '772243224', '621.900', 1, '9000021', 522),
 (180, 2, '772243224', '621.900', 1, '9000024', 511),
 (181, 1, '772243224', '621.900', 1, '9000025', 522),
 (182, 5, '772243224', '621.900', 1, '9000028', 511),
 (183, 1, '772243224', '621.900', 1, '9000029', 522),
 (184, 1, '772243224', '621.900', 1, '9000032', 511),
 (185, 1, '772243224', '621.900', 1, '9000033', 522),
 (186, 2, '772243224', '621.900', 1, '9000036', 511),
 (187, 4, '772243224', '621.900', 1, '9000037', 522),
 (188, 3, '772243224', '621.900', 1, '9000040', 511),
 (189, 3, '772243224', '621.900', 1, '9000041', 522),
 (190, 3, '772243224', '621.900', 1, '9000044', 511),
 (191, 2, '772243224', '621.900', 1, '9000045', 522),
 (192, 2, '772243224', '621.900', 1, '9000048', 511),
 (193, 1, '772243224', '621.900', 1, '9000049', 522),
 (194, 2, '772243224', '621.900', 1, '9000052', 511),
 (195, 5, '772243224', '621.900', 1, '9000053', 522),
 (196, 5, '772243224', '621.900', 1, '9000056', 511),
 (197, 1, '772243224', '621.900', 1, '9000057', 522),
 (198, 3, '772243224', '621.900', 1, '9000060', 511),
 (199, 2, '772243224', '621.900', 1, '9000061', 522),
 (200, 4, '772243224', '621.900', 1, '9000064', 511),
 (201, 4, '772243224', '621.900', 1, '9000065', 522),
 (202, 1, '772243224', '621.900', 1, '9000068', 511),
 (203, 4, '772243224', '621.900', 1, '9000069', 522),
 (204, 1, '772243224', '621.900', 1, '9000072', 511),
 (205, 5, '772243224', '621.900', 1, '9000073', 522),
 (206, 5, '772243224', '621.900', 1, '9000076', 511),
 (207, 2, '772243224', '621.900', 1, '9000077', 522),
 (208, 4, '772243224', '621.900', 1, '9000080', 511),
 (209, 3, '772243224', '621.900', 1, '9000081', 522),
 (210, 5, '772243224', '621.900', 1, '9000084', 511),
 (211, 1, '772243224', '621.900', 1, '9000085', 522),
 (212, 5, '772243224', '621.900', 1, '9000088', 511),
 (213, 2, '772243224', '621.900', 1, '9000089', 522),
 (214, 5, '772243224', '621.900', 1, '9000092', 511),
 (215, 2, '772243224', '621.900', 1, '9000093', 522),
 (216, 3, '772243224', '621.900', 1, '9000096', 511),
 (217, 4, '772243224', '621.900', 1, '9000097', 522),
 (218, 5, '772243224', '621.900', 1, '9000100', 511),
 (219, 2, '772243224', '623.254', 3, '9000078', 911),
 (220, 1, '772243224', '623.254', 3, '9000079', 922),
 (221, 3, '772243224', '623.254', 3, '9000082', 911),
 (222, 2, '772243224', '623.254', 3, '9000083', 922),
 (223, 2, '772243224', '623.254', 3, '9000086', 911),
 (224, 3, '772243224', '623.254', 3, '9000087', 922),
 (225, 1, '772243224', '623.254', 3, '9000090', 911),
 (226, 2, '772243224', '623.254', 3, '9000091', 922),
 (227, 5, '772243224', '623.254', 3, '9000094', 911),
 (228, 3, '772243224', '623.254', 3, '9000095', 922),
 (229, 2, '772243224', '623.254', 3, '9000098', 911),
 (230, 1, '772243224', '623.254', 3, '9000099', 922),
 (231, 4, '772243224', '623.254', 3, '9000080', 511),
 (232, 3, '772243224', '623.254', 3, '9000081', 522),
 (233, 5, '772243224', '623.254', 3, '9000084', 511),
 (234, 1, '772243224', '623.254', 3, '9000085', 522),
 (235, 5, '772243224', '623.254', 3, '9000088', 511),
 (236, 2, '772243224', '623.254', 3, '9000089', 522),
 (237, 2, '36866626', '620.220', 0, '9000001', 522),
 (238, 4, '36866626', '620.220', 0, '9000004', 511),
 (239, 3, '36866626', '620.220', 0, '9000005', 522),
 (240, 3, '36866626', '620.220', 0, '9000008', 511),
 (241, 3, '36866626', '620.220', 0, '9000009', 522),
 (242, 1, '36866626', '620.220', 0, '9000012', 511),
 (243, 1, '36866626', '620.220', 0, '9000013', 522),
 (244, 4, '36866626', '620.220', 0, '9000016', 511),
 (245, 2, '36866626', '620.220', 0, '9000017', 522),
 (246, 2, '36866626', '620.220', 0, '9000020', 511),
 (247, 2, '36866626', '620.220', 0, '9000021', 522),
 (248, 4, '36866626', '620.220', 0, '9000024', 511),
 (249, 2, '36866626', '620.220', 0, '9000025', 522),
 (250, 4, '36866626', '620.220', 0, '9000028', 511),
 (251, 2, '36866626', '620.220', 0, '9000029', 522),
 (252, 4, '36866626', '620.220', 0, '9000032', 511),
 (253, 4, '36866626', '620.220', 0, '9000033', 522),
 (254, 4, '36866626', '620.220', 0, '9000036', 511),
 (255, 5, '36866626', '620.220', 0, '9000037', 522),
 (256, 5, '36866626', '620.220', 0, '9000040', 511),
 (257, 5, '36866626', '620.220', 0, '9000041', 522),
 (258, 2, '36866626', '620.220', 0, '9000044', 511),
 (259, 2, '36866626', '620.220', 0, '9000045', 522),
 (260, 3, '36866626', '620.220', 0, '9000048', 511),
 (261, 2, '36866626', '620.220', 0, '9000049', 522),
 (262, 4, '36866626', '620.220', 0, '9000052', 511),
 (263, 2, '36866626', '620.220', 0, '9000053', 522),
 (264, 5, '36866626', '620.220', 0, '9000056', 511),
 (265, 2, '36866626', '620.220', 0, '9000057', 522),
 (266, 1, '36866626', '620.220', 0, '9000060', 511),
 (267, 3, '36866626', '620.220', 0, '9000061', 522),
 (268, 5, '36866626', '620.220', 0, '9000064', 511),
 (269, 3, '36866626', '620.220', 0, '9000065', 522),
 (270, 2, '36866626', '620.220', 0, '9000068', 511),
 (271, 1, '36866626', '620.220', 0, '9000069', 522),
 (272, 5, '36866626', '620.220', 0, '9000072', 511),
 (273, 3, '36866626', '620.220', 0, '9000073', 522),
 (274, 5, '36866626', '620.220', 0, '9000076', 511),
 (275, 1, '36866626', '620.220', 0, '9000077', 522),
 (276, 5, '36866626', '620.220', 0, '9000080', 511),
 (277, 2, '36866626', '620.220', 0, '9000081', 522),
 (278, 5, '36866626', '620.220', 0, '9000084', 511),
 (279, 2, '36866626', '620.220', 0, '9000085', 522),
 (280, 3, '36866626', '620.220', 0, '9000088', 511),
 (281, 5, '36866626', '620.220', 0, '9000089', 522),
 (282, 3, '36866626', '620.220', 0, '9000092', 511),
 (283, 5, '36866626', '620.220', 0, '9000093', 522),
 (284, 4, '36866626', '620.220', 0, '9000096', 511),
 (285, 4, '36866626', '620.220', 0, '9000097', 522),
 (286, 2, '36866626', '620.220', 0, '9000100', 511)]

In [15]:
create_table_query = """
    CREATE TABLE GRADE (
        Id INT PRIMARY KEY,
        Grade INT NOT NULL,
        LecturerId VARCHAR(10) NOT NULL,
        CourseId CHAR(7) NOT NULL,
        Date INT NOT NULL,
        StudentId CHAR(7) NOT NULL,
        StudyPlanId INT NOT NULL
    );
"""

cursor.execute(create_table_query)
conn.commit()

In [16]:
insert_query = """
    INSERT INTO GRADE (Id, Grade, LecturerId, CourseId, Date, StudentId, StudyPlanId)
    VALUES (%s, %s, %s, %s, %s, %s, %s);
"""

cursor.executemany(insert_query, grades)
conn.commit()

##### Creating the lecturer table

In [17]:
AAU_METADATA_PATH = './aau_metadata.json'
with open(AAU_METADATA_PATH, 'r') as fp :
    content = json.load(fp)
content

{'id': 'ATEOS1000019137',
 'name': 'Alpen-Adria-Universität Klagenfurt',
 'state': 'Carinthia',
 'city': 'Klagenfurt am Wörthersee',
 'street': 'Universitätsstraße 65-67',
 'zip': '9020',
 'bachelor_study_plans': [{'id': '511',
   'name': 'Angewandte Informatik',
   'branch': 'Technical Studies'},
  {'id': '522', 'name': 'Wirtschaftsinformatik', 'branch': 'Economoics'}],
 'master_study_plans': [{'id': '922',
   'name': 'Wirtschaftsinformatik',
   'type': 'Master',
   'branch': 'Economics'},
  {'id': '911',
   'name': 'Angewandte Informatik',
   'type': 'Master',
   'branch': 'Technical Studies'}],
 'lecturers': [{'id': '36866626',
   'name': 'Assoc.Prof. Dipl.-Ing. Dr. Klaus Schöffmann',
   'department': 'ITEC'},
  {'id': '2077308266',
   'name': 'Postdoc-Ass. Dr. Dragi Kimovski',
   'department': 'ITEC'},
  {'id': '834107405',
   'name': 'O.Univ.-Prof. Dipl.-Ing. Dr. Johann Eder ',
   'department': 'ISYS'},
  {'id': '772243224',
   'name': 'Assoc.-Prof. DI. Dr. Julius Köpke',
   'department': 'ISYS'}]}

In [18]:
university_id = content['id']
university_name = content['name']

In [19]:
lecturers_raw = list(map(lambda entry : tuple(entry.values()), content['lecturers']))
lecturers_raw

[('36866626', 'Assoc.Prof. Dipl.-Ing. Dr. Klaus Schöffmann', 'ITEC'),
 ('2077308266', 'Postdoc-Ass. Dr. Dragi Kimovski', 'ITEC'),
 ('834107405', 'O.Univ.-Prof. Dipl.-Ing. Dr. Johann Eder ', 'ISYS'),
 ('772243224', 'Assoc.-Prof. DI. Dr. Julius Köpke', 'ISYS')]

In [20]:
def process_lecturer_information (lecturer : str) -> tuple[str,str,str] :
    lecturer_as_list = lecturer.strip().split(' ')
    name = ' '.join(lecturer_as_list[-2:])
    rank = ''
    if 'assoc' in lecturer_as_list[0].lower() : rank = 'Ass Prof'
    if 'post' in lecturer_as_list[0].lower() : rank = 'Postdoc-Ass'
    if 'univ' in lecturer_as_list[0].lower() : rank = 'Univ Ass'
    if 'o.univ' in lecturer_as_list[0].lower() : rank = 'Prof'
    title = ''
    if 'di' in lecturer_as_list[1].lower() : title = 'DI'
    if 'dr' in lecturer_as_list[1].lower() : title = 'DR'
    if 'dr.' in lecturer_as_list[2].lower() : title += ' DR'
    return (name, rank, title)

process_lecturer_information(lecturers_raw[2][1])

('Johann Eder', 'Prof', 'DI DR')

In [21]:
lecturers = [ ( lecturer[0], *process_lecturer_information(lecturer[1]), lecturer[2], university_id ) for lecturer in lecturers_raw ]
lecturers

[('36866626',
  'Klaus Schöffmann',
  'Ass Prof',
  'DI DR',
  'ITEC',
  'ATEOS1000019137'),
 ('2077308266',
  'Dragi Kimovski',
  'Postdoc-Ass',
  'DR',
  'ITEC',
  'ATEOS1000019137'),
 ('834107405', 'Johann Eder', 'Prof', 'DI DR', 'ISYS', 'ATEOS1000019137'),
 ('772243224', 'Julius Köpke', 'Ass Prof', 'DI DR', 'ISYS', 'ATEOS1000019137')]

In [22]:
create_table_query = """
    CREATE TABLE LECTURER (
        Id VARCHAR(10) PRIMARY KEY,
        Name VARCHAR(30),
        Rank VARCHAR(20),
        Title VARCHAR(20),
        Department CHAR(4),
        University CHAR(15)
    );
"""

cursor.execute(create_table_query)
conn.commit()

In [23]:
insert_query = """
    INSERT INTO LECTURER (Id, Name, Rank, Title, Department, University)
    VALUES (%s, %s, %s, %s, %s, %s);
"""

cursor.executemany(insert_query, lecturers)
conn.commit()

##### Creating the studyplan table

In [24]:
studyPlans = []
for level in ['bachelor_study_plans', 'master_study_plans'] :
    for studyPlan in content[level] :
        studyPlans.append( (int(studyPlan['id']), level.split('_')[0], studyPlan['branch']))
studyPlans

[(511, 'bachelor', 'Technical Studies'),
 (522, 'bachelor', 'Economoics'),
 (922, 'master', 'Economics'),
 (911, 'master', 'Technical Studies')]

In [25]:
create_table_query = """
    CREATE TABLE STUDYPLAN (
        Id INT PRIMARY KEY,
        Level VARCHAR(8),
        Branch VARCHAR(40)
    );
"""

cursor.execute(create_table_query)
conn.commit()

In [26]:
insert_query = """
    INSERT INTO STUDYPLAN (Id, Level, Branch)
    VALUES (%s, %s, %s);
"""

cursor.executemany(insert_query, studyPlans)
conn.commit()

##### Creating the course table

In [34]:
COURSES_PATH = './aau_corses.json'

with open(COURSES_PATH, 'r') as fp:
    content = json.load(fp)
content

{'bachelor': [{'id': '620.220',
   'title': 'Einführung in die strukturierte und objektbasierte Programmierung',
   'type': 'VO',
   'lecturer': '36866626',
   'ECTS': '2',
   'department': 'ITEC'},
  {'id': '621.900',
   'title': 'Web-Technologien',
   'type': 'VO',
   'lecturer': '772243224',
   'ECTS': '2',
   'department': 'ISYS'},
  {'id': '620.050',
   'title': 'Datenbanken',
   'type': 'VO',
   'lecturer': '772243224',
   'ECTS': '2',
   'department': 'ISYS'},
  {'id': '620.050',
   'title': 'Datenbanktechnologie',
   'type': 'UE',
   'lecturer': '772243224',
   'ECTS': '2',
   'department': 'ISYS'}],
 'master': [{'id': '623.254',
   'title': 'Current Topics in Information Systems Engineering',
   'type': 'VC',
   'lecturer': '772243224',
   'department': 'AINF',
   'ECTS': '3'},
  {'id': '624.002',
   'title': 'Privatissimum für Diplomand/inn/en und Dissertant/inn/en',
   'type': 'PV',
   'lecturer': '772243224',
   'department': 'ISYS',
   'ECTS': '1'},
  {'id': '623.250',
   'title': 'Interoperability',
   'type': 'VC',
   'lecturer': '772243224',
   'department': 'ISYS',
   'ECTS': '4'},
  {'id': '623.500',
   'title': 'Data Engineering',
   'type': 'VC',
   'lecturer': '772243224',
   'department': 'ISYS',
   'ECTS': '4'},
  {'id': '623.502',
   'title': 'Distributed Computing Infrastructures',
   'type': 'VC',
   'lecturer': '2077308266',
   'department': 'ITEC',
   'ECTS': '4'},
  {'id': '623.252',
   'title': 'Process Engineering',
   'type': 'VC',
   'lecturer': '834107405',
   'department': 'ISYS',
   'ECTS': '2'}]}

In [35]:
courses = []
for level in ['bachelor', 'master'] :
    for course in content[level] :
        courses.append( (course['id'], course['type'], int(course['ECTS']), course['department'], university_name, level) )
courses = list(set(courses))
courses

[('621.900',
  'VO',
  2,
  'ISYS',
  'Alpen-Adria-Universität Klagenfurt',
  'bachelor'),
 ('623.250', 'VC', 4, 'ISYS', 'Alpen-Adria-Universität Klagenfurt', 'master'),
 ('623.500', 'VC', 4, 'ISYS', 'Alpen-Adria-Universität Klagenfurt', 'master'),
 ('620.050',
  'VO',
  2,
  'ISYS',
  'Alpen-Adria-Universität Klagenfurt',
  'bachelor'),
 ('624.002', 'PV', 1, 'ISYS', 'Alpen-Adria-Universität Klagenfurt', 'master'),
 ('623.254', 'VC', 3, 'AINF', 'Alpen-Adria-Universität Klagenfurt', 'master'),
 ('623.502', 'VC', 4, 'ITEC', 'Alpen-Adria-Universität Klagenfurt', 'master'),
 ('620.220',
  'VO',
  2,
  'ITEC',
  'Alpen-Adria-Universität Klagenfurt',
  'bachelor'),
 ('623.252', 'VC', 2, 'ISYS', 'Alpen-Adria-Universität Klagenfurt', 'master'),
 ('620.050',
  'UE',
  2,
  'ISYS',
  'Alpen-Adria-Universität Klagenfurt',
  'bachelor')]

In [39]:
create_table_query = """
    CREATE TABLE COURSE (
        Id CHAR(7),
        Type CHAR(2),
        ECTS INT,
        Department CHAR(4),
        University VARCHAR(40),
        Level VARCHAR(8),
        CONSTRAINT pk PRIMARY KEY (Id, Type, Department, University)
    );
"""

cursor.execute(create_table_query)
conn.commit()

In [40]:
insert_query = """
    INSERT INTO COURSE (Id, Type, ECTS, Department, University, Level)
    VALUES (%s, %s, %s, %s, %s, %s);
"""

cursor.executemany(insert_query, courses)
conn.commit()

### Exercise 2: creating the pivot table

In [41]:
import pandas as pd

pivot_query = '''
    SELECT
        s.Name AS Student,
        l.Name AS Lecturer,
        AVG(g.Grade) AS AverageGrade
    FROM
        grade g
    JOIN
        student s ON g.StudentId = s.Id
    JOIN
        lecturer l ON g.LecturerId = l.Id
    GROUP BY
        s.Name, l.Name
    ORDER BY
        s.Name, l.Name;
    '''

cursor.execute(pivot_query)
rows = cursor.fetchall()
columns = [ desc[0] for desc in cursor.description ]
pivot_content = pd.DataFrame(rows, columns = columns)
pivot_content

            student          lecturer            averagegrade
0      Amelie Engel       Johann Eder      5.0000000000000000
1      Amelie Engel      Julius Köpke      2.0000000000000000
2      Amelie Meier    Dragi Kimovski      2.0000000000000000
3      Amelie Meier      Julius Köpke      2.5000000000000000
4        Amely Horn      Julius Köpke      4.5000000000000000
..              ...               ...                     ...
204      Tim Peters      Julius Köpke      2.5000000000000000
205       Timm Lang      Julius Köpke      3.5000000000000000
206       Timm Lang  Klaus Schöffmann      2.0000000000000000
207  Yannick Lorenz      Julius Köpke      2.5000000000000000
208  Yannick Lorenz  Klaus Schöffmann  1.00000000000000000000

[209 rows x 3 columns]

In [42]:
pivot = pd.pivot_table(pivot_content, values = 'averagegrade', index = 'student', columns = 'lecturer')
pivot

lecturer          Dragi Kimovski Johann Eder Julius Köpke Klaus Schöffmann
student
Amelie Engel                 NaN         5.0          2.0              NaN
Amelie Meier                 2.0         NaN          2.5              NaN
Amely Horn                   NaN         NaN          4.5              3.0
Amely Lehmann                3.0         NaN          2.0              NaN
Anna Becker                  NaN         NaN          1.0              3.0
...                          ...         ...          ...              ...
Sophie Brandt                NaN         NaN     2.333333              2.0
Sophie Zimmermann            NaN         NaN          3.0              2.0
Tim Peters                   1.0         NaN          2.5              NaN
Timm Lang                    NaN         NaN          3.5              2.0
Yannick Lorenz               NaN         NaN          2.5              1.0

[100 rows x 4 columns]

### Closing the connection

In [43]:
cursor.close()
conn.close()